<form id="formPessoaFisica">
    <div class="row">
        <div class="col-md-6 form-group">
            <label>CPF</label>
            <input type="text" data-mask="999.999.999-99" id="cpf_PF" name="cpf" class="form-control" title="Informe um CPF válido." required minlength="14" maxlength="14" aria-required="true" aria-invalid="true" />
        </div>
        <div class="col-md-6 form-group">
            <label>Nome</label>
            <input type="text" id="nome_PF" name="nome" class="form-control" title="Informe o Nome do interessado." required minlength="10" maxlength="100" aria-required="true" aria-invalid="true" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label>Estado</label>
            <select name="uf" id="uf_PF" class="form-control campo-uf" title="Informe a UF do interessado." required aria-required="true" aria-invalid="true">
                <option value="">Selecione o Estado</option>
                <option value="ac">Acre</option>
                <option value="al">Alagoas</option>
                <option value="ap">Amapá</option>
                <option value="am">Amazonas</option>
                <option value="ba">Bahia</option>
                <option value="ce">Ceará</option>
                <option value="df">Distrito Federal</option>
                <option value="es">Espirito Santo</option>
                <option value="go">Goiás</option>
                <option value="ma">Maranhão</option>
                <option value="ms">Mato Grosso do Sul</option>
                <option value="mt">Mato Grosso</option>
                <option value="mg">Minas Gerais</option>
                <option value="pa">Pará</option>
                <option value="pb">Paraíba</option>
                <option value="pr">Paraná</option>
                <option value="pe">Pernambuco</option>
                <option value="pi">Piauí</option>
                <option value="rj">Rio de Janeiro</option>
                <option value="rn">Rio Grande do Norte</option>
                <option value="rs">Rio Grande do Sul</option>
                <option value="ro">Rondônia</option>
                <option value="rr">Roraima</option>
                <option value="sc">Santa Catarina</option>
                <option value="sp">São Paulo</option>
                <option value="se">Sergipe</option>
                <option value="to">Tocantins</option>
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label>Muicípio</label>
            <select name="municipio" class="form-control campo-municipio" title="Informe o Município do interessado." required aria-required="true" aria-invalid="true">
                <option value="">Selecione o Município</option>
            </select>
        </div>
    </div>
</form>

<form id="formPessoaFisicaContatos">
    <div class="row">
        <div class="col-md-12 form-group">
            <label>Telefone</label>
            <div class="input-group">
                @*<span class="input-group-addon tiposContato">
                </span>*@
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input id="contatoPF" data-mask="(99)9999-9999" name="contatoPF" type="text" class="form-control" title="Informe um Telefone válido para o interessado." required aria-required="true" aria-invalid="true"/>
                <span class="input-group-btn">
                    <button type="button" id="btnIncluirContatoPF" class="btn btn-info"><i class="fa fa-check" aria-hidden="true"></i> Incluir</button>
                </span>
            </div>
            <span id="msgErrorContatosPF"></span>
        </div>
        <div class="col-md-12 form-group">
            <div id="listaContatosPF" class="dataTables_wrapper form-inline dt-bootstrap">
                <table id="tabelaListaContatosPF" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="listaContatosPF">
                    <thead>
                        <tr role="row">
                            <th class="col-md-8" data-header="telefone">Telefone</th>
                            <th class="col-md-2" data-header="idTipoContato">Tipo</th>
                            <th class="colunaExcluir">Excluir</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<form id="formPessoaFisicaEmails">
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="nomefantasia">E-mail's</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                <input type="email" class="form-control" id="emailPF" name="emailPF" title="Informe um E-mail válido para o interessado." required aria-required="true" aria-invalid="true"/>
                <span class="input-group-btn">
                    <button type="button" id="btnIncluirEmailPF" class="btn btn-info"><i class="fa fa-check" aria-hidden="true"></i> Incluir</button>
                </span>
            </div>
            <span id="msgErrorEmailsPF"></span>
        </div>
        <div class="col-md-12 form-group">
            <div id="listaEmailsPF" class="dataTables_wrapper form-inline dt-bootstrap">
                <table id="tabelaListaEmailsPF" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="listaEmailsPF">
                    <thead>
                        <tr role="row">
                            <th class="col-md-10" data-header="endereco">Endereço</th>
                            <th class="colunaExcluir">Excluir</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>