@model WebApp.Models.Autuacao.FormAutuacaoModel

@{
    ViewBag.Title = "AUTUAÇÃO";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> MENU PRINCIPAL</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<!-- Main content -->
<section id="content" class="content">
    <div class="row">
        <form id="formAutuacao">
            <div class="col-lg-10 col-md-12 col-xs-12">

                <!--Início do conteúdo da página-->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" title="Classificação do Processo" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-file-text-o"></i> Resumo e Sinalização</h4></a></li>
                        <li class=""><a href="#tab_2" title="Responsáveis e Interessados" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-users"></i> Responsáveis e Interessados</h4></a></li>
                        <li class=""><a href="#tab_3" title="Abrangência" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-list"></i> Abrangência</h4></a></li>
                        <li class=""><a href="#tab_4" title="Anexos" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-link"></i> Anexos</h4></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="orgao">Função</label>
                                    <select class="form-control" name="funcao" id="funcao"></select>
                                </div>
                                <div class="form-group">
                                    <label for="orgao">Atividade</label>
                                    <select class="form-control" name="atividade" id="atividade"></select>
                                </div>
                                <div class="form-group">
                                    <label for="Resumo">Resumo</label>
                                    <textarea class="form-control" id="Resumo" name="resumo" placeholder="Resumo"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Sinalização</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1" name="sinalizacao">
                                            Atendimento Normal
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="2" name="sinalizacao">
                                            Atendimento Prioritário
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline pull-right">
                                    <li><a href="#tab_2" class="btn btn-primary pull-right next-step" data-toggle="tab">Próximo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="orgao">Órgão Responsável</label>
                                        <input type="text" class="form-control" name="nomeOrgaoAutuador" id="nomeOrgaoAutuador" disabled="disabled" />
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="setor">Setor Responsável</label>
                                        <input type="text" class="form-control" name="nomeUnidadeAutuadora" id="nomeUnidadeAutuadora" disabled="disabled" />
                                    </div>
                                </div>
                            </div>

                            <div class="box-body">
                                <label>Interessados</label>
                                <div class="form-group">
                                    <button type="button" onclick="$('#modalInteressados').modal('show')" class="btn btn-info"><i class="fa fa-user-plus"></i> Adicionar</button>
                                </div>
                                <div id="listaTabelaInteressados" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="tabelaInteressados" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="listaTabelaInteressados">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="col-md-6">Nome / Razão Social</th>
                                                        <th class="col-md-4">CPF/CNPJ</th>
                                                        <th class="colunaExcluir">Excluir</th>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline pull-right">
                                    <li><a href="#tab_1" class="btn btn-default pull-right prev-step" data-toggle="tab"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Anterior</a></li>
                                    <li><a href="#tab_3" class="btn btn-primary pull-right next-step" data-toggle="tab">Próximo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label>Estado</label>
                                        <select class="form-control campo-uf" id="uf">
                                            <option value="0">Selecione o Estado</option>
                                            <option value="ac">Acre</option>
                                            <option value="al">Alagoas</option>
                                            <option value="ap">Amapá</option>
                                            <option value="am">Amazonas</option>
                                            <option value="ba">Bahia</option>
                                            <option value="ce">Ceará</option>
                                            <option value="df">Distrito Federal</option>
                                            <option value="es">Espirito Santo</option>
                                            <option value="go">Goiás</option>
                                            <option value="ma">Maranhão</option>
                                            <option value="ms">Mato Grosso do Sul</option>
                                            <option value="mt">Mato Grosso</option>
                                            <option value="mg">Minas Gerais</option>
                                            <option value="pa">Pará</option>
                                            <option value="pb">Paraíba</option>
                                            <option value="pr">Paraná</option>
                                            <option value="pe">Pernambuco</option>
                                            <option value="pi">Piauí</option>
                                            <option value="rj">Rio de Janeiro</option>
                                            <option value="rn">Rio Grande do Norte</option>
                                            <option value="rs">Rio Grande do Sul</option>
                                            <option value="ro">Rondônia</option>
                                            <option value="rr">Roraima</option>
                                            <option value="sc">Santa Catarina</option>
                                            <option value="sp">São Paulo</option>
                                            <option value="se">Sergipe</option>
                                            <option value="to">Tocantins</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <label for="municipio">Município</label>

                                        <div class="input-group">
                                            <select class="form-control campo-municipio" id="municipio">
                                                <option value="0">Selecione um Município</option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button type="button" id="btnIncluirMunicipio" class="btn btn-info"><i class="fa fa-check" aria-hidden="true"></i> Selecionar</button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div id="Municipios" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="tabelaMunicipios" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="Municipios">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc col-md-2">UF</th>
                                                        <th class="sorting">Município</th>
                                                        <th class="sorting_asc col-md-1">Excluir</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <ul class="list-inline pull-right">
                                    <li><a href="#tab_2" class="btn btn-default pull-right prev-step" data-toggle="tab"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Anterior</a></li>
                                    <li><a href="#tab_4" class="btn btn-primary pull-right next-step" data-toggle="tab">Próximo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_4">
                            <div class="box-body">
                                <label>Anexos</label>
                                <div class="form-group">
                                    <input type="file" class="form-control input-file" id="btnFileAnexos" style="display:none" name="btnFileAnexos" multiple />
                                    <button type="button" class="btn btn-info btn-input-file"><i class="fa fa-link" aria-hidden="true"></i> Adicionar</button>
                                </div>
                                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="tabelaAnexos" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc col-md-6" data-header="">Documento</th>
                                                        <th class="sorting" data-header="">Tamanho</th>
                                                        <th class="sorting_asc col-md-1">Excluir</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline pull-right">
                                    <li><a href="#tab_3" class="btn btn-default pull-right prev-step" data-toggle="tab"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Anterior</a></li>
                                    <li><button type="submit" class="btn btn-danger pull-right"><i class="fa fa-save" aria-hidden="true"></i> Autuar</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim do conteúdo da página-->
            </div>
        </form>
    </div>
</section>


<!--Modal Interessados-->
<div class="modal fade" id="modalInteressados" tabindex="-1" role="dialog" aria-labelledby="modalInteressadosLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalInteressadosLabel">Selecione Interessados</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabPessoa_1" title="Pessoa Física" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-user"></i> Pessoa Física</h4></a></li>
                            <li class=""><a href="#tabPessoa_2" title="Pessoa Jurídica" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-building"></i> Pessoa Jurídica</h4></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabPessoa_1">
                                <div class="box-body">
                                    @Html.Partial("_FormPessoaFisica")
                                </div>
                            </div>
                            <div class="tab-pane" id="tabPessoa_2">
                                <div class="box-body">
                                    @Html.Partial("_FormPessoaJuridica")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>
                <button type="button" id="btnIncluirInteressado" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>