.vs/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ib/
[Pp]ackage/
[Pp]ackages/

[Ww]eb.Desenvolvimento.*
[Ww]eb.Homologacao.*
[Ww]eb.Producao.*
[Ww]eb.config
[Ww]eb.Debug.*
[Ww]ebapp.csproj.user
*.config
.suo