
<!-- /.box -->
<div class="box box-success">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <h3 class="box-title">Caixa de Entrada PRODEST/SGPRJ</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <ul class="products-list product-list-in-box">
            <!-- /.item -->
            <li class="item">
                <div class="product-img">
                    <img src="/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">
                        AVISO DE LICITAÇÃO
                        <span class="label label-warning pull-right">Novo</span>
                    </a>
                    <span class="product-description">
                        O PRODEST torna público que realizará licitação, na modalidade PREGÃO, na forma eletrônica, tipo menor preço global, cujo objeto é contratação de...
                    </span>
                </div>
            </li>
            <!-- /.item -->
            <!-- /.item -->
            <li class="item">
                <div class="product-img">
                    <img src="/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">
                        AVISO DE LICITAÇÃO
                        <span class="label label-warning pull-right">Novo</span>
                    </a>
                    <span class="product-description">
                        O PRODEST torna público que realizará licitação, na modalidade PREGÃO, na forma eletrônica, tipo menor preço global, cujo objeto é contratação de...
                    </span>
                </div>
            </li>
            <!-- /.item -->
            <!-- /.item -->
            <li class="item">
                <div class="product-img">
                    <img src="/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">
                        AVISO DE LICITAÇÃO
                        <span class="label label-warning pull-right">Novo</span>
                    </a>
                    <span class="product-description">
                        O PRODEST torna público que realizará licitação, na modalidade PREGÃO, na forma eletrônica, tipo menor preço global, cujo objeto é contratação de...
                    </span>
                </div>
            </li>
            <!-- /.item -->
            <!-- /.item -->
            <li class="item">
                <div class="product-img">
                    <img src="/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">
                        AVISO DE LICITAÇÃO
                        <span class="label label-warning pull-right">Novo</span>
                    </a>
                    <span class="product-description">
                        O PRODEST torna público que realizará licitação, na modalidade PREGÃO, na forma eletrônica, tipo menor preço global, cujo objeto é contratação de...
                    </span>
                </div>
            </li>
            <!-- /.item -->
            <!-- /.item -->
            <li class="item">
                <div class="product-img">
                    <img src="/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">
                        AVISO DE LICITAÇÃO
                        <span class="label label-warning pull-right">Novo</span>
                    </a>
                    <span class="product-description">
                        O PRODEST torna público que realizará licitação, na modalidade PREGÃO, na forma eletrônica, tipo menor preço global, cujo objeto é contratação de...
                    </span>
                </div>
            </li>
            <!-- /.item -->
        </ul>
    </div>
    <!-- /.box-body -->
    <div class="box-footer text-center">
        <a href="javascript:void(0)" class="uppercase"><i class="fa fa-expand" aria-hidden="true"></i> Ver Todos</a>
    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
