@{
    ViewBag.Title = "ProcessoEletrônico - Página não encontrada.";
    Layout = "~/Views/Shared/_LayoutPageOffline.cshtml";
}

<div class="lockscreen-logo">
    <img src="~/img/manutencao.png" />
    <strong>Processo</strong>Eletrônico
</div>
<h2 class="help-block text-center">
    <strong>404</strong> - Página não enontrada.
</h2>