@{
    ViewBag.Title = "ProcessoEletrônico Off Line";
    Layout = "~/Views/Shared/_LayoutPageOffline.cshtml";
}

<div class="lockscreen-logo">
    <img src="~/img/manutencao.png" />
    <strong>Processo</strong>Eletrônico
</div>
<h2 class="help-block text-center">
    O sistema está temporariamente fora do ar para manutenção.
</h2>
<hr />
<div class="lockscreen-footer text-center">
    Copyright &copy; 2016-2017 <b><a href="http://almsaeedstudio.com" class="text-black">Prodest</a></b><br>
    Todos os direitos reservados.
</div>


